
      {% extends 'base.html'%}
      {% block content %}
      {% if  all_item %}
        <table class="table table-bordered">
        {% for things in all_item %}
          {% if things.complete %}
              <tr class="table-secondary">
                <td><center>{{things.item}}</center></td>
                <td><center>{{things.complete}}</center></td>
                <td><center> Delete</center></td>
              </tr>
          {% else %}

               <tr>
                <td><center>{{things.item}}</center></td>
                <td><center>{{things.complete}}</center></td>
                <td><center> Delete</center></td>
              </tr>
          {% endif %}
        
        {% endfor %}
      </table>  
      {% endif %}
     
     
     
    
    {% endblock content %}
