<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--CSS FOR WIZARD--->
    <link rel="stylesheet" href="smart_wizard.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container mt-5 mb-5">
        <div class="" id="stepwizard">
            <ul class="">
             <li class=""><a href="#step1" class="">Step Title 1 <br/><small>Step Description 1</small></a></li>
             <li class=""><a href="#step2" class="">Step Title 2<br/><small>Step Description 2</small></a></li>
             <li class=""><a href="#step3" class="">Step Title 3 <br/><small>Step Description 3</small></a></li>
             <li class=""><a href="#step4" class="">Step Title 4 <br/><small>Step Description 4</small></a></li>
             <li class=""><a href="#step5" class="">Step Title 5 <br/><small>Step Description 5</small></a></li>
             
            </ul>
           
        </div>
        <div class="" id="step1">Step Content 1</div>
        <div class="" id="step2">Step Content 2</div>
        <div class="" id="step3">Step Content 3</div>
        <div class="" id="step4">Step Content 4</div>
        <div class="" id="step5">Step Content 5</div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--scrip for wizard-->
    <script src="jquery.smartwizard.min.js"></script>
    <script>
        $('#stepwizard').smartWizard();
    </script>
  </body>
</html>